<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= movie.desc %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie.year %>
  </p>

  <p>
    <strong>Actor:</strong>
    <%= movie.actor_id %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= movie.city_id %>
  </p>

</div>
