<div id="<%= dom_id review %>">
  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= review.rate %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= review.movie_id %>
  </p>

</div>
